---
layout: page
title: Format
---


<div id="archives">
  {% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>

    <div class="accordion border-bottom-dash">
      <h2 class="mb-1 mt-1 ">{{ category_name }}</h2>
      <a name="{{ category_name | slugize }}"></a>
    </div>

    <div class="panel">
      {% for post in site.categories[category_name] %}

      <h4 class="px-4 mt-2">
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        <!-- <a class="no-underline h5 text-accent px-2" title="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}</a> -->
      </h4>
      <!-- <a class="px-4 no-underline h5 text-accent" title="{{ post.url | prepend: site.baseurl }}">#{{ post.tags }},</a> -->
      
      <div class="clear no-underline h5 text-accent px-4">
          Topics -
        {% for tag in post.tags %}
        <a
          title="{{ post.url | prepend: site.baseurl }}"
          href="{{ site.baseurl }}/tags#{{ tag | slugize }}"
          >{{ tag }}</a
        >
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
<!-- end of divs archive -->

<script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }
</script>

<!-- <script src="/js/blocks/accordion.js"></script> -->