---
layout: page
title: Topics
---

<div id="tags">
  {% for tag in site.tags %}
  <div class="tag-group">
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    <div id="#{{ tag_name | slugize }}"></div>

    <div class="accordion border-bottom-dash">
      <h2 class="mb-1 mt-1">{{ tag_name }}</h2>
      <a name="{{ tag_name | slugize }}"></a>
    </div>

    <div class="panel">
      {% for post in site.tags[tag_name] %}

      <h4 class="px-4 mt-2">
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        <!-- <a class="no-underline h5 text-accent px-2" title="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}</a> -->
      </h4>

      <div class="clear no-underline h5 text-accent px-4">
        {% for category in post.categories %}
        <a
          title="{{ post.url | prepend: site.baseurl }}"
          href="{{ site.baseurl }}/category#{{ category | slugize }}"
          >#{{ category }}</a
        >
        {% endfor %}
      </div>

      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>

<script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }
</script>
