---
layout: page
title: Topics
---

{% comment %}
=======================
Collect all tags
=======================
{% endcomment %}

<div id="tags">
  {% for tag in site.tags %}
  <div class="tag-group">
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    <div id="#{{ tag_name | slugize }}"></div>

    <h1 class="mb-2 mt-2">{{ tag_name }}</h1>
    <a name="{{ tag_name | slugize }}"></a>

    {% comment %}
    =======================
    Loop through tags
    =======================
    {% endcomment %}

    {% for post in site.tags[tag_name] %}

    {% comment %}
    =======================
    Style the text of each post
    =======================
    {% endcomment %}

    <h4 class="px-4 mt-2">
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
      <!-- <a class="no-underline h5 text-accent px-2" title="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%b %-d, %Y" }}</a> -->
    </h4>
    <div class="clear no-underline h5 text-accent px-4">
      {% for category in post.categories %}
      <a title="{{ post.url | prepend: site.baseurl }}" href="{{ site.baseurl }}/category#{{ category | slugize }}">#{{category}}</a>
      {% endfor %}
    </div>

    {% endfor %}
  </div>
  {% endfor %}
</div>
