<!-- <div class="left py-2 px-1">
  <p>Chris Bamborough is an architect, academic and researcher.</p>
</div> -->

<!-- Set site description in config.yml -->
<p class="lh-condensed font-smoothing mt-2 px-1 py-1">{{ site.description }}</p>
</div>

<!-- <div class="clearfix mt-2 mb-4 px-1 py-1">
  <div class="col-4 sm-width-full left">
    <div class="table">
      <div class="inline-block mr-1">
        {% include medium.html %}
      </div>
      <div class="inline-block mr-1">
        {% include twitter.html %}
      </div>
      <div class="inline-block ">
        {% include github.html %}
      </div>
    </div> -->



<!--
  <div class="col-4 sm-width-full left border-top-thin mt-3 mt-lg-0 ml-lg-4 table">
      <div class="inline-block mt-3 mr-1">
        {% include dot.html %}
      </div>
      <div class="inline-block mt-3">
        {% include {{ site.social_link | default: "twitter" }}.html %}
      </div>
  </div> -->
</div>
