<div class="accordion">
  <h3>Formats /<h3>
</div>

<div class="panel">
    {% for category in site.categories %}
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div class="accordion">
        <h4>{{ category_name }}</h4>
    </div>
    <div class = "panel">
        {% for post in site.categories[category_name] %}
        <h5>    
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </h5>
        {% endfor %}
    </div>
    {% endfor %}
</div>

<div class="accordion">
  <h3>Topics /<h3>
</div>

<div class="panel">
    {% for tag in site.tags %}
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    <div class="accordion">
        <h4>{{ tag_name }}</h4>
    </div>
    <div class = "panel">
        {% for post in site.tags[tag_name] %}
        <h5>    
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </h5>
        {% endfor %}
    </div>
    {% endfor %}
</div>


<script>
    var acc = document.getElementsByClassName("accordion");
    var i;
  
    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
          panel.style.display = "none";
        } else {
          panel.style.display = "block";
        }
      });
    }
</script>






