<head>
  <!--CODE FOR TYPEKIT -->
  <script src="https://use.typekit.net/nrf6yfy.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="/js/libs/three.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.2/p5.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.2/addons/p5.dom.js" type="text/javascript"></script>
  <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.2/addons/p5.sound.js" type="text/javascript"></script> -->
  <!-- <script src="/js/libs/p5.js"></script> -->
  <!-- <script src="/js/libs/p5.dom.js"></script> -->
  <script src="/js/libs/quicksettings.min.js"></script>



  <title>{{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->

	<link rel="stylesheet" href="/css/main.css" />
	<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>
