<section id="intro">

  <a href="{{ site.url }}" class="logo"><img src="https://dl.dropboxusercontent.com/u/20394991/ChrisBamborough.com/CB_Logo_200x200_green.svg" alt="" /></a>

  <header>
    <!--
    <h-logo>{{ site.title }}</h-logo>

    <h2>Expanding Architectural Practice.</h2>
    -->
    <ul class="icons">
      <li><a href="https://twitter.com/{{ site.twitter_username }}" class="fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="https://github.com/{{ site.github_username }}" class="fa-github"><span class="label">GitHub</span></a></li>
      <li><a href="https://www.behance.net/{{ site.behance_username }}" class="fa-behance"><span class="label">Behance</span></a></li>
      <li><a href="https://www.medium.com/{{ site.medium_username }}" class="fa-medium"><span class="label">Medium</span></a></li>
      <li><a href="https://www.soundcloud.com/{{ site.soundcloud_username }}" class="fa-soundcloud"><span class="label">Soundcloud</span></a></li>
      <li><a href="/feed.xml" class="fa-rss"><span class="label">RSS</span></a></li>
      <li><a href="mailto:{{ site.email }}" class="fa-envelope"><span class="label">Email</span></a></li>
    </ul>

  </header>

  <!-- <ul class="actions">
	  <li><a href="/about" class="button">Learn More</a></li>
	</ul> -->
</section>
