<div class="h3 clearfix">
  <div class="left sm-width-full px-1 mt-0 mt-lg-0">
    <a class="align-middle link-primary text-accent" href="{{ site.baseurl }}/">
      {{ site.title }}
    </a>
  </div>


  <!-- Next divs for pages -->
  {% for my_page in site.pages %} {% if my_page.title %}
  <div class="left px-0-5 mt-0 mt-lg-0">
    <a class="align-middle link-primary " href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }} / </a>
  </div>
  {% endif %} {% endfor %}
  <div class="left px-0-5 mt-0 mt-lg-0">
    <a class="align-middle link-primary " href="https://medium.com/{{ site.medium_username }}" target="_blank" title="Follow me on Medium">
      {{ site.blogname }}
    </a>
  </div>
  
</div>
