.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 10;
  background-color: hsla(0, 95%, 0%, 0.8);
  overflow-x: hidden;
  transition: 0.5s;
  // padding-top: 60px;
  text-align: center;
}

.sidenav-content{
    position: relative;
    top: 10%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 15px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }

.sidenav a {
  // padding: 8px 8px 8px 32px;
  text-decoration: none;
  // font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

// Styling for the tags and catagories pages

.accordion {
  color: #818181;
  cursor: pointer;
  // padding: $spacer-1;
  width: 100%;
  // text-align: center;
  outline: none;
  // transition: 0.4s;
}

.accordian a {
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.active,
.accordion:hover {
  // background-color: rgb(250, 250, 250);
  color: #f1f1f1;
}

.panel {
  // padding: 0 18px;
  display: none;
  // background-color: white;
  overflow: hidden;
  // color: #818181;
}

/* When the height of the screen is less than 450 pixels, change the padding and the font size*/

@media screen and (max-height: 450px) {
  .sidenav .accordian {
    padding-top: 15px;
  }
  .sidenav a .accordian a{
    font-size: 18px;
  }
}
