//----------------------------------------------
// Blog Posts
//---------------------------------------------- 
.blog-posts {

  &__post {

    padding: {
      top: 1em;
      bottom: 1em;
    }

  }

}