<!DOCTYPE HTML>
<html>
  {% include header.html %}
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				{% include head.html %}
				<!-- Main -->
					<div id="main">
            <!-- Left empty to keep menu on the left -->
					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
						{% include bhts_intro.html %}

						<!-- Only Mini Posts for catagory BHTS -->
            {% include bhts_miniposts.html %}

						<!-- Don't include About section -->

						<!-- Footer -->
						{% include footer.html %}
					</section>
			</div>
		<!-- Scripts -->
		{% include scripts.html %}
	</body>
</html>
