<!DOCTYPE HTML>
<html>
  {% include header.html %}






	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				{% include head.html %}
				<!-- Main -->
					<div id="main">
            {% include mc_aboutpost.html %}
					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
						{% include mc_intro.html %}

						<!-- Only Mini Posts for catagory BHTS -->
            {% include mc_miniposts.html %}

						<!-- Don't include About section -->

						<!-- Footer -->
						{% include footer.html %}
					</section>
			</div>
		<!-- Scripts -->
		{% include scripts.html %}
	</body>
</html>
